<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-game-heading" jhiTranslate="jhipsterApp.game.home.createOrEditLabel">Create or edit a Game</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.game.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.game.level" for="field_level">Level</label>
                    <input type="text" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.game.categorie" for="field_categorie">Categorie</label>
                    <input type="text" class="form-control" name="categorie" id="field_categorie"
                           formControlName="categorie"/>
                    <div *ngIf="editForm.get('categorie')!.invalid && (editForm.get('categorie')!.dirty || editForm.get('categorie')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('categorie')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.game.idAccount" for="field_idAccount">Id Account</label>
                    <input type="text" class="form-control" name="idAccount" id="field_idAccount"
                           formControlName="idAccount"/>
                    <div *ngIf="editForm.get('idAccount')!.invalid && (editForm.get('idAccount')!.dirty || editForm.get('idAccount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idAccount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
